li {
    cursor: pointer;
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;
    color: rgb(13, 13, 82);
}
ul {
    list-style-type: none;
}
div {
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
}